input[type=text], input[type=password] {
  width: 100%;
  padding: 6px 6px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #FF6A61;
  margin-left: 10;
}
.button {
  width: auto;
  padding: 10px 18px;
  background-color:#B5FBDD;
}
#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 40%;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
