<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="headerAdmin :: headerAdmin"></header>
<b> <h2  th:text="#{admin_page.activities.header}"></h2></b>
<table>
    <tr>
        <th>
            <span th:text="#{admin_page.activities.header0}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.activities.header1}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.activities.header2}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.activities.header4}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.activities.header3}"></span>
        </th>
        <th></th>
        <th></th>
    </tr>
        <tr th:each ="el:${activities}">
            <form method="post">
            <td> <input type="text" name="id" th:value = "${el?.id}" readonly></td>
            <td> <input type="text" name="activityName" th:value = "${el?.activityName}"></td>
            <td> <input type="text" name="categoryId" th:value = "${el?.category.Id}"readonly></td>
            <td> <input type="text" name="activityUa" th:value = "${el?.activityUa}"></td>
            <td>
                <select name="categoryList" id="categoryList">
                    <option th:selected = "${el?.category.categoryName}" th:text="${el?.category.categoryName}" ></option>
                        <option th:each ="c:${categories}" th:value="${c?.categoryName}" th:text="${c?.categoryName}" >
                        </option>
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success" formaction="changeActivity" th:text="#{button.change}"></button>
            </td>
            <td>
                <button type="submit" class="btn btn-danger" formaction="deleteActivity" th:text="#{button.delete}"></button>
            </td>
    </form>
    </tr>
        <tr>
            <form method="post">
            <td>
            </td>
            <td>
                <input type="text" name="activityAddName">
            </td>
            <td>
            </td>
            <td>
                <input type="text" name="activityAddUa">
            </td>
            <td>
                <select name="categoryAdd">
                    <option th:each ="c:${categories}" th:value="${c?.categoryName}" th:text="${c?.categoryName}" >
                    </option>
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success" formaction="addActivity" th:text="#{button.addition}"></button>
            </td>
    </form>
    </tr>
</table>
</body>
</html>