<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="headerAdmin :: headerAdmin"></header>
<b> <h2  th:text="#{admin_page.requests.header}"></h2></b>
<table>
    <tr>
        <th>
            <span th:text="#{admin_page.users.header0}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header1}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header2}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header3}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.activities.header1}"></span>
        </th>
        <th></th>
        <th></th>
    </tr>
        <tr th:each ="el:${activities}">
            <form method="post" th:object="${request}">
                <td> <input type="text" name="userId" th:value = "${el?.user.Id}" readonly></td>
                <td> <input type="text" name="userEmail" th:value = "${el?.user.userEmail}" readonly></td>
                <td> <input type="text" name="userFirstName" th:value = "${el?.user.userFirstName}" readonly></td>
                <td> <input type="text" name="userLastName" th:value = "${el?.user.userLastName}" readonly></td>
                <td> <input type="text" name="activityName" th:value = "${el?.activity.activityName}" readonly></td>
            <td>
                <button type="submit" class="btn btn-success" formaction="approveRequest" th:text="#{button.approve}"></button>
            </td>
            <td>
                <button type="submit" class="btn btn-danger" formaction="denyRequest" th:text="#{button.deny}"></button>
            </td>
    </form>
    </tr>
</table>
</body>
</html>