<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="headerAdmin :: headerAdmin"></header>
    <b> <h2  th:text="#{admin_page.users.header}"></h2></b>
<table>
    <tr>
        <th>
            <span th:text="#{admin_page.users.header0}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header1}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header2}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header3}"></span>
        </th>
        <th>
            <span th:text="#{admin_page.users.header4}"></span>
        </th>
        <th></th>
        <th></th>
    </tr>
        <tr th:each ="el:${users}">
            <form method="post">
            <td> <input type="text" name="id" th:value = "${el?.id}" readonly></td>
            <td> <input type="text" name="userEmail" th:value = "${el?.userEmail}"></td>
            <td> <input type="text" name="userFirstName" th:value = "${el?.userFirstName}"></td>
            <td> <input type="text" name="userLastName" th:value = "${el?.userLastName}"></td>
            <td>
                <select name="roleList" id="roleList">
                    <option th:selected = "${el?.role.roleName}" th:text="${el?.role.roleName}" ></option>
                    <option value = "USER" th:text="USER"></option>
                    <option value = "ADMIN" th:text="ADMIN"></option>
                </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success" formaction="changeUser" th:text="#{button.change}"></button>
            </td>
            <td>
                <button type="submit" class="btn btn-danger" formaction="deleteUser" th:text="#{button.delete}"></button>
            </td>
            </form>
        </tr>
        <tr>
            <form method="post">
            <td>
            </td>
            <td>
                <input type="text" name="userAddEmail">
            </td>
            <td>
                <input type="text" name="userAddFirstName">
            </td>
            <td>
                <input type="text" name="userAddLastName">
            </td>
            <td>
            <select name="roleAdd" id="roleAdd">
                <option value = "USER" th:text="USER"></option>
                <option value = "ADMIN" th:text="ADMIN"></option>
            </select>
            </td>
            <td>
                <button type="submit" class="btn btn-success" formaction="addUser" th:text="#{button.addition}"></button>
            </td>
    </form>
    </tr>
</table>
</body>
</html>