<div th:fragment="headerGuest" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" th:href="@{/css/background.css}">
    <link rel="stylesheet" href="/css/w3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div>
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="index"><span th:text="#{navbar.home}"></span></a>
            <a class="py-2 d-none d-md-inline-block" href="login"><span th:text="#{navbar.signin}"></span></a>
            <a class="py-2 d-none d-md-inline-block" href="registration"><span th:text="#{navbar.signup}"></span></a>
        </nav>
    </div>
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="uk" th:text="#{lang.uk}"></option>
    </select>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});
</script>
</div>