<div th:fragment="headerAdmin" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/manage.css">
    <link rel="stylesheet" href="/css/table.css">
    <script src="/js/statistics.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div>
        <nav class="w3-bar w3-black">
            <a class="w3-button w3-bar-item" href="index" th:text="#{navbar.home}"></a>
            <a class="w3-button w3-bar-item" href="login" th:text="#{navbar.signout}"></a>
            <a class="w3-button w3-bar-item" href="adminUsers" th:text="#{navbar.manageUsers}"></a>
            <a class="w3-button w3-bar-item" href="adminActivities" th:text="#{navbar.manageActivities}"></a>
            <a class="w3-button w3-bar-item" href="adminRequests" th:text="#{navbar.manageRequests}"></a>
            <a class="w3-button w3-bar-item" href="statActivities" th:text="#{navbar.activityStat}"></a>
            <a class="w3-button w3-bar-item" href="statUsers" th:text="#{navbar.userStat}"></a>
        </nav>
    </div>
    <br>
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.en}"></option>
        <option value="uk" th:text="#{lang.uk}"></option>
    </select>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('?lang=' + selectedOption);
        }
    });
});

    </script>
</div>