<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="headerAdmin :: headerAdmin"></header>
<b> <h2  th:text="#{statistics_page.user.header}"></h2></b>
<br>
<table>
    <tr>
        <th th:text="#{statistics_page.user.table.head0}">
        </th>
        <th th:text="#{statistics_page.user.table.head1}">
        </th>
        <th th:text="#{statistics_page.user.table.head2}">
        </th>
        <th th:text="#{statistics_page.user.table.head3}">
        </th>
        <th th:text="#{statistics_page.user.table.head4}">
        </th>
        <th th:text="#{statistics_page.user.table.head5}">
        </th>
    </tr>
    <tr th:each ="el:${userActivities.content}">
        <form method="get">
            <td th:text="${el?.activityDate}">
            </td>
            <td th:text="${el?.user.userEmail}">
            </td>
            <td th:text="${el?.user.userFirstName}">
            </td>
            <td th:text="${el?.user.userLastName}">
            </td>
            <td th:text="${el?.activity.activityName}">
            </td>
            <td th:text="${el?.activityDuration}">
            </td>
        </form>
    </tr>
</table>
<div class="pagination-div">
    <span th:if="${userActivities.hasPrevious()}">
        <a th:href="@{/tracker/statUsers(page=${number-1},size=${size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
        <span th:if="${number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${number == i}">
             <a th:href="@{/tracker/statUsers(page=${i},size=${size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${userActivities.hasNext()}">
        <a th:href="@{/tracker/statUsers(page=${number+1},size=${size})}">Next</a>
    </span>
</div>
</body>
</html>