<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="headerUser :: headerUser"></header>
    <b> <h2  th:text="#{profile_page.header}"></h2></b>
<div class="card-body">
    <div class="card-text">
        <label><span th:text="#{login_page.email}"></span></label>
        <br>
    <span th:text="${user.userEmail}"></span>
    </div>
    <br>
    <div class="card-text">
        <label><span th:text="#{registration_page.first.name }"></span></label>
        <br>
        <span th:text="${user.userFirstName}"></span>
    </div>
    <br>
    <div class="card-text">
        <label><span th:text="#{registration_page.last.name }"></span></label>
        <br>
        <span th:text="${user.userLastName}"></span>
    </div>
    <br>
    </div>
</div>
<form method="get" action="update">
    <button type="submit" class="btn btn-success" formaction="updateProfile" th:text="#{profile_page.update}"></button>
</form>
</body>
</html>