<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="headerUser :: headerUser"></header>
<b> <h2  th:text="#{activities_page.header}"></h2></b>
<div class="card-body">
    <div class="card-text">
                <b>
                    <span th:text="#{activities_page.subheader}"></span>
                </b>
    </div>
    <br>
    <ul th:each="el:${activity}">
            <li>
                <span th:if="${#locale.toString()}=='uk'"
                      th:value="${el?.activity.activityUa}"
                      th:text="${el?.activity.activityUa}"></span>
                <span th:if="${#locale.toString()}!='uk'"
                      th:value="${el?.activity.activityName}"
                      th:text="${el?.activity.activityName}" ></span>
                <span> = </span><span th:text = "${el?.status}"></span>
            </li>
    </ul>
    <form method="post">
    <select name="requestActivity">
        <option th:if="${#locale.toString()}=='uk'" th:each ="i:${allActivitiesUa}" th:value="${i}" th:text="${i}" ></option>
        <option th:if="${#locale.toString()}!='uk'" th:each ="j:${allActivities}" th:value="${j}" th:text="${j}" ></option>
    </select>
        <button type="submit" class="btn btn-success" formaction="request" th:text="#{activities_page.request}"></button>
    </form>
</div>
</body>
</html>